<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        {% if proffesion %}
            {% if "инженер" in proffesion or "строитель" in proffesion %}
                <h2>Инженерные тренажеры</h2>
                <img src="{{ url_for('static', filename='images/map_for_it.jpg') }}" >
            {% else %}
                <h2>Научные симуляторы</h2>
                <img src="{{ url_for('static', filename='images/map_for_ns.jpg') }}" >
            {% endif %}
        {% endif %}
        {% set prof_list = ['инженер-исследователь', "пилот", "строитель", "экзобиолог", "врач",
          "инженер по терраформированию",
          "климатолог", "специалист по радиационной защите", "астрогеолог", "гляциолог", "инженер жизнеобеспечения",
          "метеоролог", "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
        {% if how %}
            <h2>Список профессий</h2>
            {% if how == 'ol' %}
                <ol>
                    {% for item in prof_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            {% elif how == 'ul' %}
                <ul>
                    {% for item in prof_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </body>
</html>